html {
  font-size: 15px;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  max-width: 100%;
  height: 100%;
  color: black;
  background: white;
}

.site {
  width: 100%;
  position: relative;
}


//blocks
@import "blocks/home";
@import "blocks/nav";
@import "blocks/sprite";
@import "blocks/advantage";


// lib
@import "node_modules/slick-carousel/slick/slick.scss";