.advantage {
  padding: 40px  0;
  width: 100%;
}

.container__advantage {
  max-width: 1310px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @media (max-width: 991px) {
    max-width: 1024px;
    flex-wrap: wrap;
  }

  @media (max-width: 767px) {
    max-width: 767px;
  }
}

.advantage__item {
  width: 33%;
  padding: 10px;
}

.advantage__item--inner {
  box-shadow: 0 1px 1px 0 rgba(206, 206, 206, 0.75);
  padding: 25px;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;

  transition: box-shadow 0.3s linear, background-color 0.3s ease;

  &:hover {
    box-shadow: 0 10px 29px 0 rgba(194, 194, 194, 0.75);
    background-color: #fff;
  }
}

.advantage__item--svg {
  margin-right: 30px;
  border-right: 1px solid #a8a8a8;
  padding-right: 30px;
  line-height: 1;
}

.advantage__item--content {
  display: flex;
  flex-direction: column;
}

.advantage__item--title {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 5px;
  color: black;
}

.advantage__item--text {
  font-size: 14px;
  color: #646464;
}