.home__content {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.home__slide {
  width: 100%;
  padding: 16% 0;
  overflow: hidden;
  display: flex;
}

.home__slide--content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.home__slide--suptitle {
  font-weight: 500;
  font-size: 13.6849px;
  color: rgb(17, 17, 17);
  letter-spacing: 1.09479px;
  line-height: 18px;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.home__slide--title {
  font-weight: 600;
  font-size: 40px;
  color: rgb(0, 0, 0);
  line-height: 38.3177px;
  margin-bottom: 15px;
}

.home__slide--text {
  font-weight: 300;
  font-size: 14px;
  color: rgb(17, 17, 17);
  line-height: 17.5167px;

  margin-bottom: 15px;
}

.home__slide-link {

  position: relative;
  text-transform: uppercase;

  text-decoration: none;
  transition: width 0.3s linear;

  &:hover {
    text-decoration: none;
    color: #111111;

    .slide-link--text:after {
      width: 100%;
    }
  }

}

.slide-link--text {
  color: #111111;
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  position: relative;
  transition: width 0.3s linear;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 40%;
    height: 2px;
    background: #111111;
    transition: width 0.3s linear;
  }
}

.slick-dots {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: absolute;
  bottom: 20px;
  left: 50%;

  transform: translateX(-50%);
}

.slick-dots li {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.slick-dots li button {
  border-radius: 50%;
  border: 1px solid #d4d4d4;
  background-color: #f8f8f8;
  width: 15px;
  height: 15px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  cursor: pointer;

  outline: 0;

  &:focus {
    outline: 0;
  }
}

.slick-dots .slick-active button {
  background-color: #111111;
}