.site__header {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  background: 0 0;

  @media (max-width: 991px) {
    position: relative;
    background: white;
    padding: 4px 0;
    border-bottom: 2px solid #111111;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;


  @media (max-width: 992px) {
    max-width: 960px;
  }

  @media (max-width: 768px) {
    max-width: 720px;
  }

  @media (max-width: 576px) {
    max-width: 540px;
  }
}

.header__inner {
  width: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  flex: 0 0 25%;
}

.logo {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.logo_img {
  max-width: 100%;
  width: auto;
  max-height: 53px;
  height: auto;
}

.header__nav {
  flex: 0 0 75%;
  align-items: center;
  max-width: 75%;
  display: flex;
  min-height: 90px;
}

.main__navigation {
  flex: 1 1 auto;

  @media (max-width: 991px) {
    display: none;
  }
}

.header__icons {
  flex: 0 0 auto;
  display: flex;
  align-items: center;

  @media (max-width: 991px) {
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}

.header__icon {
  padding-top: 32px;
  padding-bottom: 31px;
  color: #222;
  margin-left: 25px;
  text-decoration: none;
  position: relative;

  &:hover {
    text-decoration: none;
    color: #222;
  }

  & > i {
    font-size: 26px;
    line-height: 1;
    color: #000;
  }
}

.nav__link {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: black;
  padding: 32px 15px;
}

.cart__sum-block {
  color: #444;
  font-size: 20px;
  line-height: 1;
  margin-left: 15px;
  vertical-align: middle;
  padding-top: 38px;
  padding-bottom: 31px;
}

.number__stat {
  background-color: #111;
  color: #fff;
  position: absolute;
  padding: 4px 8px;
  border-radius: 50%;
  top: 22px;
  left: 19px;
  box-shadow: 0 5px 5px rgba(17, 17, 17, 0.3);
  font-size: 14px;
}

.burger__menu {
  display: none;

  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;

    margin-left: 25px;
  }
}

.burger__line {
  position: relative;
  background: #111111;
  height: 3px;
  width: 100%;

  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__nav {
  height: 0;
  @media (max-width: 991px) {
    transform: translateY(-100%);
    height: 0;
  }

  transition: height 0.6s ease, transform 0.3s ease;
}

.menu__nav--active{
  @media (max-width: 991px) {
    height: auto;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #111111;
    transform: translateY(0);
  }
}

.menu__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
  font-style: normal;
  color: #333333;
  text-decoration: none;
  padding: .5em 5%;
  border-top: 1px solid #ddd;

  &:hover {
    text-decoration: none;
    color: #333333;
  }
}