<header class="site__header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="#" class="logo">
                    <img src="assets/images/logo/logo-dark.png" alt="Logo" class="logo_img">
                </a>
            </div>
            <div class="header__nav">
                <div class="main__navigation">
                    <nav class="nav">
                        <a href="#" class="nav__link">Home</a>
                        <a href="#" class="nav__link">Shop</a>
                        <a href="#" class="nav__link">Blog</a>
                        <a href="#" class="nav__link">About</a>
                        <a href="#" class="nav__link">Contact</a>
                    </nav>
                </div>
                <div class="header__icons">
                    <a href="#" class="header__icon">
                        <i class="bi-search"></i>
                    </a>
                    <a href="#" class="header__icon">
                        <i class="bi-person-fill"></i>
                    </a>
                    <a href="#" class="header__icon" id="heart">
                        <i class="bi-heart"></i>
                        <span class="number__stat">0</span>
                    </a>
                    <a href="#" class="header__icon" id="cart">
                        <i class="bi-cart3"></i>
                        <span class="number__stat">0</span>
                    </a>
                    <div class="cart__sum-block">
                        <span class="cart__dollar">$</span>
                        <span class="cart__sum">0</span>
                    </div>
                </div>
                <a href="#" class="burger__menu">
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                </a>
            </div>
        </div>
    </div>
</header>


<nav class="menu__nav">
    <a href="#" class="menu__link">Home</a>
    <a href="#" class="menu__link">Shop</a>
    <a href="#" class="menu__link">Blog</a>
    <a href="#" class="menu__link">About</a>
    <a href="#" class="menu__link">Contact</a>
</nav>