---
layout: default
title: Metro | Home
---

<section class="home__content" id="slider">
    <div class="home__slide"
         style="background-image: url('/assets/images/home/slider_03.png');background-repeat: no-repeat;background-position: center center;background-size: cover;">
        <div class="container">
            <div class="home__slide--content">
                <div class="home__slide--suptitle">Discount</div>
                <h2 class="home__slide--title">Headphone</h2>
                <p class="home__slide--text">New Modern Stylist Fashionable Men's Wearholder <br>
                    bag maxcan weather holder.
                </p>
                <a href="#" class="home__slide-link">
                    <span class="slide-link--text">explore now</span>
                </a>
            </div>
        </div>
    </div>

    <div class="home__slide"
         style="background-image: url('/assets/images/home/slider_01.png');background-repeat: no-repeat;background-position: center center;background-size: cover;">
        <div class="container">
            <div class="home__slide--content">
                <div class="home__slide--suptitle">Discount</div>
                <h2 class="home__slide--title">Women's Fashion</h2>
                <p class="home__slide--text">New Modern Stylist Fashionable Women's Wearholder <br>
                    bag maxcan weather holder.
                </p>
                <a href="#" class="home__slide-link">
                    <span class="slide-link--text">explore now</span>
                </a>
            </div>
        </div>
    </div>

    <div class="home__slide"
         style="background-image: url('/assets/images/home/slider_02-1536x673.png');background-repeat: no-repeat;background-position: center center;background-size: cover;">
        <div class="container">
            <div class="home__slide--content">
                <div class="home__slide--suptitle">Discount</div>
                <h2 class="home__slide--title">Men's Shirt</h2>
                <p class="home__slide--text">New Modern Stylist Fashionable Women's Wearholder <br>
                    bag max can weather holder.
                </p>
                <a href="#" class="home__slide-link">
                    <span class="slide-link--text">explore now</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="advantage">
    <div class="container__advantage">
        <div class="advantage__item">
            <div class="advantage__item--inner">
                <span class="advantage__item--svg">
                    <svg class="symbol__truck">
                        <use xlink:href="#truck"></use>
                    </svg>
                </span>
                <div class="advantage__item--content">
                    <h3 class="advantage__item--title">FREE SHIPPING</h3>
                    <p class="advantage__item--text">On All Orders</p>
                </div>
            </div>
        </div>

        <div class="advantage__item">
            <div class="advantage__item--inner">
                <span class="advantage__item--svg">
                    <svg class="symbol__truck">
                        <use xlink:href="#call"></use>
                    </svg>
                </span>
                <div class="advantage__item--content">
                    <h3 class="advantage__item--title">FREE SHIPPING</h3>
                    <p class="advantage__item--text">On All Orders</p>
                </div>
            </div>
        </div>

        <div class="advantage__item">
            <div class="advantage__item--inner">
                <span class="advantage__item--svg">
                    <svg class="symbol__truck">
                        <use xlink:href="#ok"></use>
                    </svg>
                </span>
                <div class="advantage__item--content">
                    <h3 class="advantage__item--title">FREE SHIPPING</h3>
                    <p class="advantage__item--text">On All Orders</p>
                </div>
            </div>
        </div>
    </div>
</section>