<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

{{> sprite }}

<div id="app" class="site">
    {{> header }}

    {{> body }}

    {{> footer }}
</div>

<script src="assets/js/mainbundle.js" type="module"></script>
</body>
</html>
